<h1>Chart Time</h1>

<h3>
	<% stats.forEach(function(stat){ %>
		<%= stat.userId %>
	<% }); %>
</h3>
<h3>
	<%= currentUser.id %>
</h3>
<canvas id="myChart"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var chart = new Chart(ctx, {
   type: 'bar',
   data: {
      labels: [
      <% stats.forEach(function(stat){ %>
      	<%= stat.id %>,
      <% }); %>
      ],
      datasets: [{
         label: 'Water Drank',
         data: [
         	<% stats.forEach(function(stat){ %>
         		<%= stat.hasDrank %>,
         	<% }); %>
         ],
         backgroundColor: '#dc3912'
      }, {
         label: 'Difference (Expected Drinks - Water Drank)',
         data: [
         	<%stats.forEach(function(stat){ %>
         		<%= stat.diff %>,
         	<% }); %>
         ],
         backgroundColor: '#3366cc'
      }]
   },
   options: {
      responsive: false,
      legend: {
         position: 'right'
      },
      scales: {
         xAxes: [{
            stacked: true
         }],
         yAxes: [{
            stacked: true
         }]
      }
   }
});

</script>





